.comands-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 7rem;
}

.comands-header{
    line-height: 30px;
    font-size: 16px;
    color: #dc3545;
    font-weight: 500;
}

.comands-title{
    font-size: 28.75px;
    color: #54595f;
    font-weight: 600;
    line-height: 58px;
}

.comands-text{
    color: #7A7A7A;
    font-weight: 400;
    line-height: 28px;
    font-size: 16px;
}

@media (max-width: 768px){
    .comands-container{
        padding: 5rem 2rem;
    }
    .comands-title{
        font-size: 24px;
        line-height: 1.5em;
    }
}