.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding: 7rem;
    background: #dc3545;
}

.footer-section-container{
    width: 250px;
}

.footer-section-title{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.footer-link{
    color: #ffffffb3;
    text-decoration: none;
    transition: 0.5s;
}

.footer-link:hover{
    color: #ff8692;
    
}

.arrowIcon{
    color: #ffffffb3;
    margin-right: .5rem;
}

.link-container{
    margin: 1rem 0;
}

.socialIcon{
    color: #ffffff;
    font-size: 45px;
    margin-right: 1rem;
    transition: .5s;
}

.socialIcon:hover{
    color: #ffffffb3;
}

.footer-creator{
    color: #ffffffb3;
    font-size: 16px;
    text-align: center;
    background-color: #dc3545;
    margin: 0 !important;
    padding: 2rem 0;
    box-sizing: border-box;
}

@media (max-width: 768px){
    .footer-container{
        padding: 2rem;
        flex-direction: column;
    }
    .footer-creator{
        padding: 2rem 0;
        color: #ffffffb3;
        font-size: 12px;
        text-align: center;
        width: 100%;
    }
}