.highs-container {
  display: flex;
  padding: 0 7rem;
  align-items: center;
  gap: 2.5rem;
  
}

.highs-side {
  position: relative;
}

.highs-img {
  width: 550px;
}

.high-imgContainer2{
  padding: 0 3rem;
}

.imgbg {
  width: 450px;
  height: 450px;
  background: #dc3545;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 10%;
  z-index: -1;
  animation: increase 2s infinite alternate ease-in-out;
}

@keyframes increase {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(110%);
  }
}

.highs-cards {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.highs-title {
  color: #54595f;
  font-size: 25px;
  font-weight: 600;
}

.highs-text {
  color: #777777;
  font-size: 15px;
  font-weight: 400;
}

.highs-icon {
  color: #dc3545;
  font-size: 45px;
}

@media (max-width: 768px) {
  .highs-container {
    padding: 0 2rem;
    flex-wrap: wrap;
  }
  .highs-img {
    width: 100%;
  }
  .highs-img2{
    width: 100%;
  }
  .imgbg {
    width: 200px;
    height: 200px;
    top: 30%;
    left: 20%;
  }
}
